<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <style>
  /* Reset default browser styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    body {
    font-family: Arial, sans-serif;
  }
  
  .dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .info {width: 100%;}
  
  .sidebar {
    width: 200px;
    height: auto;
    background-color: #2b87ff;
    color: #fff;
  }
  
  .sidebar ul li  {
    height: 50px;
    border-bottom: 1px solid #fffdfd; /* Add border to separate navigation items */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .content {
    flex: 1;
    padding: 50px;
  }
 ul{
    padding: 20px;
 }
  
  h2 {
    color: #333;
  }
  
      </style>
</head>
<body>
    
  <div class="dashboard">
    <nav class="sidebar">
      <ul>
        <li><h3>Admin</h3></li>
        <li><a href='/'>Home</a></li>
        <li><a href="/adamarjumand">Registered Users</a></li>
        <li><a href="/doctor">Registered Doctors</a></li>
        <li><a href="/deletedoctor">Doctor Requests</a></li>
        
      </ul>
    </nav>

    <ul class="info">
        <% patients.forEach(patient => { %>
          <ui>
            <strong>Name:</strong> <%= patient.name %> <%= patient.last_name %> <br>
            <strong>Email:</strong> <%= patient.email %> <br>
            <strong>Phone:</strong> <%= patient.phone %> <br>
            <strong>Age:</strong> <%= patient.age %> <br>
            <strong>Gender:</strong> <%= patient.gender %> <br>
            <strong>Password:</strong> <%= patient.password %> <br>
            <strong>Marital Status:</strong> <%= patient.marital_status %> <br>
            <strong>Relationship Status:</strong> <%= patient.relationship_status %> <br>
            <strong>Therapy Type:</strong> <%= patient.therapy_type.join(', ') %> <br>
          </ui>
          <hr >
        <% }); %>
      </ul>
      
</body>
</html>
